/dna.core/src/dna.core/bin
/dna.core/src/dna.core.service/obj
/dna.core/src/dna.core.service/bin
/dna.core/src/dna.core.applicationservice/obj
/dna.core/src/dna.core.applicationservice/bin
/dna.core/src/dna.core.data/obj
/dna.core/src/dna.core.data/bin
/dna.core/src/dna.core.helper/obj
/dna.core/src/dna.core.helper/bin
obj
bin
